{% extends '::mobile.html.twig' %}
{% block header %}
<h1>英贝网</h1>
{% endblock %}
{% block content %}
	<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="搜索专辑">
		<li data-role="divider" data-theme="b">专辑</li>
		{% for s in series%}
		<li data-icon="audio"><a href="{{path('_series',{'seriesId':s.Id})}}" data-transition="slide">{{s.DisplayName}}</a></li>
		{%endfor%}
	</ul>
{% endblock %}
{% block footer %}
<h1>英贝网</h1>
{% endblock %}
